:root {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    // line-height: 1.85;
    // text-align: left;

    --primary-color-dark: rgba(25, 25, 25, 1);
    --primary-color-light: rgba(255, 255, 255, 1);
    --primary-color-yellow: rgba(255, 194, 41, 1);
    --primary-color-gray: rgba(160, 160, 160, 1);
    --success-color-green: rgb(104, 241, 99);

    --logo-size: 1.4rem;
    --nav-height-l: 3.125rem;
    --nav-height-m: 2.5rem;
    --footer-height-l: 2.5rem;
    --footer-height-m: 1.875rem;

    --max-w-1920: 120rem;
    --max-w-1440: 90rem;
    --max-w-960: 60rem;
    --max-w-540: 35rem;
    --min-w-360: 360px;
    --space-5: 0.3125rem;
    --space-6: 0.375rem;
    --space-7h: 0.46875rem;
    --space-8: 0.5rem;
    --space-10: 0.625rem;
    --space-12: 0.75rem;
    --space-15: 0.9375rem;
    --space-20: 1.25rem;
    --space-25: 1.5625rem;
    --space-30: 1.875rem;
    --space-40: 2.5rem;
    --space-48: 3rem;
    --space-50: 3.125rem;
    --space-60: 3.75rem;
    --space-70: 4.375rem;
    --space-80: 5rem;
    --space-90: 5.625rem;
    --space-100: 6.25rem;
    --space-120: 7.5rem;
    --space-140: 8.75rem;
    --space-150: 9.375rem;
    --space-160: 10rem;
    --radius-4: 4px;
    --radius-8: 8px;
    --default-text-align: left;

    --font-weight-300: 300;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-800: 800;

    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-22: 1.375rem;
    --font-size-24: 1.5rem;
    --font-size-26: 1.625rem;
    --font-size-27: 1.6875rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-40: 2.5rem;
    --font-size-42: 2.625rem;
    --font-size-48: 3rem;
    --font-size-54: 3.375rem;
    --font-size-60: 3.75rem;
    --font-size-64: 4rem;
    --font-size-72: 4.5rem;
    --font-size-80: 5rem;
    --font-size-96: 6rem;
    --font-size-108: 6.75rem;
    --font-size-126: 7.875rem;

    --font-size-128: 8rem;
    --font-size-144: 9rem;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$steel-color-dark: -webkit-linear-gradient(
    -45deg,
    rgba(160, 160, 160, 1) 0%,
    rgba(110, 110, 110, 1) 60%,
    rgba(75, 75, 75, 1) 100%
);
$steel-color-light: -webkit-linear-gradient(90deg, rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 74%);
$primary-black: rgba(25, 25, 25, 1);
$primary-white: rgba(248, 248, 248, 1);
* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
a {
    cursor: pointer;
}

body {
    position: relative;
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    position: absolute;
    top: 0;

    width: 100%;
    height: var(--nav-height-l);
    display: flex;
    justify-content: center;
    align-items: center;
    .contents-container {
        width: 100%;
        padding-left: var(--space-40);
        padding-right: var(--space-40);

        .logo {
            font-family: 'Poppins', sans-serif;
            color: var(--primary-color-light);
            font-size: var(--logo-size);
            font-weight: 800;
            cursor: pointer;
        }
    }
}
.digital-clock-wrapper {
    background: $steel-color-light;
    border-radius: 18px;
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.9), 20px 25px 20px -5px rgba(0, 0, 0, 0.6),
        20px 20px 30px 5px rgba(150, 150, 150, 0.2), 20px 30px 30px 10px rgba(0, 0, 0, 0.2);
    padding: var(--space-10);

    .digital-clock {
        background: $steel-color-dark;
        // max-width: 35rem;
        padding: var(--space-20) var(--space-60);
        border-radius: 18px;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--space-20);

        .menu-box {
            position: absolute;
            top: var(--space-10);
            right: var(--space-10);

            .dot-menu-btn {
                margin: var(--space-10);
                background: $steel-color-light;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-size: var(--font-size-24);
                cursor: pointer;
            }
            .dot-menu.active {
                visibility: visible;
                opacity: 1;
            }
            .dot-menu {
                background: #222;
                padding: var(--space-10) var(--space-20);
                border-radius: 12px;
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);

                position: absolute;
                top: var(--space-10);
                right: var(--space-10);
                transition: 0.3s ease-in-out;
                visibility: hidden;
                opacity: 0;
                list-style: none;
                z-index: 999;

                .menu-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--space-20);

                    .clock-format-text {
                        color: #fff;
                        font-size: var(--font-size-12);
                    }

                    .format-switch-btn {
                        background: $steel-color-light;
                        width: var(--space-50);
                        height: var(--space-12);
                        border-radius: 75px;
                        box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);

                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .format-switch-btn:before {
                        content: '';
                        background: #ff5e9a;
                        width: var(--space-12);
                        height: var(--space-12);
                        border-radius: 50%;
                        box-shadow: 0 5px 25px #ff5e9a;

                        position: absolute;
                        top: 50%;
                        transform: translate(-11px, -50%);
                        transition: 0.3s ease-in-out;
                        transition-property: background, transform;
                    }

                    .format-switch-btn.active:before {
                        background: #0bff8d;
                        box-shadow: 0 5px 25px #0bff8d;
                        transform: translate(11px, -50%);
                    }
                }
            }
        }

        .title {
            background: transparent;
            color: #fff;
            width: 100%;
            text-align: left;
            line-height: 1.4;
            h2 {
                font-size: var(--font-size-48);
                font-weight: 600;
            }
            span {
                font-size: var(--font-size-16);
                font-weight: 200;
            }
            p {
                font-size: var(--font-size-24);
                font-weight: 400;
            }
        }

        .clock {
            background: transparent;
            color: #fff;
            width: 100%;
            padding: var(--space-20);

            border-radius: 10px;
            border: 1px solid #fff;

            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .time {
                color: #fff;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--space-10);

                .hours,
                .dots,
                .minutes {
                    background: $steel-color-light;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    font-size: var(--font-size-80);
                    font-weight: 600;
                    font-family: 'Orbitron', sans-serif;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .dots {
                    margin-bottom: var(--space-10);
                }

                .right-side {
                    color: #fff;
                    margin-left: var(--space-10);

                    height: var(--space-90);

                    position: relative;
                    display: flex;
                    // justify-content: flex-end;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .period,
                    .seconds {
                        background: $steel-color-light;
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        font-family: 'Orbitron', sans-serif;
                        font-size: var(--font-size-18);
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        .calender {
            font-size: var(--font-size-18);
            font-weight: 600;
            letter-spacing: 1px;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--space-10);

            .month-name,
            .day-name,
            .day-number,
            .years {
                background: $steel-color-light;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-family: 'Orbitron', sans-serif;
            }
        }
    }
}

@media only screen and (max-width: 35rem) {
    .digital-clock-wrapper {
        padding: var(--space-5);
        .digital-clock {
            padding: var(--space-10) var(--space-30);
            gap: var(--space-10);

            .menu-box {
                top: var(--space-5);
                right: var(--space-5);
                .dot-menu-btn {
                    margin: var(--space-5);
                }
                .dot-menu {
                    padding: var(--space-5) var(--space-10);
                    .menu-item {
                        gap: var(--space-10);
                        .format-switch-btn {
                            width: var(--space-40);
                            height: var(--space-8);
                        }
                    }
                }
            }
            .title {
                h2 {
                    font-size: var(--font-size-24);
                }
                span {
                    font-size: var(--font-size-12);
                }
                p {
                    font-size: var(--font-size-16);
                }
            }
            .clock {
                padding: var(--space-10);
                .time {
                    gap: var(--space-5);
                    .dots {
                        margin-bottom: var(--space-5);
                    }
                    .hours,
                    .dots,
                    .minutes {
                        font-size: var(--font-size-60);
                    }
                    .right-side {
                        margin-left: var(--space-5);
                        .period,
                        .seconds {
                            font-size: var(--font-size-14);
                        }
                    }
                }
            }
            .calender {
                font-size: var(--font-size-16);
                gap: var(--space-5);
            }
        }
    }
}

// @media only screen and (max-width: 560px) {
//     body {
//         main {
//             .digital-clock-wrapper {
//                 transform: rotate(-90deg) scale(0.6);
//             }
//         }
//     }
// }
